<h1>Home</h1>
<ul>
  <% if user_signed_in? %>
    <li><%=link_to "Logout", logout_path, data:  {turbo_method: "delete"}%></li>
  <% else %>
    <li><%= link_to "Sign Up",sign_up_path%></li>
    <li><%= link_to "Sign In",sign_in_path%></li>
  <% end %>
  <li><%= link_to "Posts", posts_path%></li>
</ul>
